header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg-normal);
    grid-column: 1 / span 2;
    padding: 5px 40px;
    border-radius: 20px;
}

.hamburger-menu {
    color: var(--text-normal);
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.15s;
}

.hamburger-menu:hover {
    color: var(--highlight);
}

.logo {
    margin-right: 60px;
}

.logo a {
    color: var(--text-normal);
    cursor: pointer;
    transition: color 0.15s;
}

.logo:hover a {
    color: var(--highlight);
}

.search-bar-container {
    position: relative;
    flex: 1;
}

.search-bar {
    margin-block: auto;
    background-color: var(--bg-light);
    color: var(--text-muted);
    border: none;
    font-size: 1rem;
    padding: 20px 30px;
    width: calc(100% - 60px);
    border-radius: 50px;
    outline: transparent;
}

.search-icon {
    color: var(--text-muted);
    position: absolute;
    right: 20px;
    bottom: 15px;
}

@media(max-width: 600px) {
    .search-bar-container {
        display: none;
    }
}

@media(max-width: 400px) {
    header {
        padding: 5px 20px;
    }
}

body {
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-dark);
    z-index: 1;
    display: none;
    opacity: 0;
    transition: opacity 1s;
}

.show-menu .overlay {
    display: inline;
    opacity: 0.6;
}

.show-menu nav {
    left: 10px;
}

nav {
    background-color: var(--bg-light);
    padding: 0;
    border-radius: 20px;

    position: fixed;
    top: 10px;
    bottom: 10px;
    left: -100%;
    transition: left 0.8s;
    z-index: 2;
}

.close-icon-container {
    background-color: transparent;
    border: none;
    position: relative;
    width: 100%;
    height: 30px;
}

.close-icon {
    background-color: transparent;
    color: var(--text-normal);
    position: absolute;
    right: 20px;
    cursor: pointer;
    transition: color 0.15s;
}

.close-icon:hover {
    color: var(--highlight);
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

nav li {
    font-size: 20px;
    transition: background-color 0.15s;
    cursor: pointer;
}

nav li:hover {
    background-color: var(--highlight);
}

nav li * {
    display: block;
    padding: 15px 60px;
    font-size: 20px;
}

nav li button {
    border: none;
    background-color: transparent;
    color: var(--text-normal);
    cursor: pointer;
}